body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    padding-top: 250px;
    min-height: 100vh;
    margin-top: 100px;
}

h1,
h2,
h3 {
    color: #00703c;
}

section {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    border-radius: 5px;
}

ol {
    list-style-type: decimal;
    margin-left: 20px;
}

li {
    margin-bottom: 10px;
}

footer {
    background-color: #00703c;
    color: #fff;
    padding-top: 20px;
    text-align: center;
    margin-top: 150px;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.footer-top .sitemap,
.footer-top .privacy-policy,
.footer-top .social-media {
    flex-basis: calc(33.33% - 20px);
    margin-right: 20px;
}

.footer-top h3 {
    color: #fff;
    font-size: 18px;
    margin-bottom: 10px;

}

.footer-top ul {
    padding: 0;
    list-style: none;
}

.footer-top ul li {
    margin-bottom: 10px;
}

.footer-top a {
    color: #fff;
    text-decoration: none;
}

.footer-bottom {
    background-color: #004622;
    color: #fff;
    padding: 5px 5px;
}


header {
    background-color: #00703c;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    /* Center the content horizontally */
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 9999;
}


header h1,
header a,
header a:visited {
    color: white;
}

/* CSS for hamburger menu */
.menu-icon {
    display: block;
    cursor: pointer;
    width: 30px;
    height: 20px;
    position: relative;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    left: -15px;

}

.menu-icon:before,
.menu-icon:after {
    content: '';
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: #fff;
    transition: transform 0.3s ease;
}

.menu-icon:before {
    top: 8px;
}

.menu-icon:after {
    top: 16px;
}

#menu-toggle {
    display: none;
}

#menu-toggle:checked+.menu-icon:before {
    transform: translateY(8px) rotate(45deg);
}

#menu-toggle:checked+.menu-icon:after {
    transform: translateY(-8px) rotate(-45deg);
}

#menu-toggle:checked+.menu-icon {
    background-color: transparent;
}

nav {
    display: none;
    /* Hide navigation links by default */
    flex-direction: row;
    flex-wrap: wrap;
    /* Display navigation links vertically */
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    text-align: center !important;
}

@media (max-width: 768px) {
    nav {
        flex-direction: column;
        /* Display navigation links vertically on smaller screens */
    }
}

nav a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    user-select: none;
    /* Prevent text selection */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer */
    -webkit-user-select: none;
    /* Chrome, Safari, Opera */
    -webkit-touch-callout: none;
    /* Disable callout on touch devices */
}

nav a:hover {
    background-color: #005a2e;
}


#menu-toggle:checked+.menu-icon+nav {
    display: flex;

    /* Display navigation links when checkbox is checked */
}

header.collapsed {
    padding: 10px 0;
    /* Adjust padding for the collapsed header */
}

header.collapsed h1 {
    display: none;
    /* Hide the header text when collapsed */
}

header.collapsed .quote-container {
    display: none;
    /* Hide the header text when collapsed */
}

header.collapsed nav {
    display: none;
    /* Hide the navigation links when collapsed */
}

/* Style the menu icon for the collapsed header */
header.collapsed .menu-icon {
    display: block;
    cursor: pointer;
    width: 30px;
    height: 20px;
    position: relative;
    margin: 0 auto;
    background-color: #00703c;
    border-radius: 50%;
}

/* Style the lines of the menu icon */
header.collapsed .menu-icon:before,
header.collapsed .menu-icon:after {
    content: '';
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: #fff;
    transition: transform 0.3s ease;
}

header.collapsed .menu-icon:before {
    top: 8px;
}

header.collapsed .menu-icon:after {
    top: 16px;
}

header.collapsed #menu-toggle:checked+.menu-icon:before {
    transform: translateY(8px) rotate(45deg);
}

header.collapsed #menu-toggle:checked+.menu-icon:after {
    transform: translateY(-8px) rotate(-45deg);
}

header.collapsed+body {
    padding-top: 0;
}

.footer-heart {
    text-align: center;
    font-family: open sans, sans-serif;
}

.footer-heart a {
    border-bottom: 1px solid #453886;
    color: #453886;
    padding-bottom: .25em;
    text-decoration: none;
}

.footer-heart a:hover {
    color: #2196f3;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23453886' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
    background-position: bottom;
    background-repeat: repeat-x;
    background-size: 20%;
    border-bottom: 0;
    padding-bottom: .3em;
    text-decoration: none;
}

.emoji {
    vertical-align: middle;
}